<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.AnswerMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加学员答案记录 -->
	<insert id="addAnswer" parameterType="answer">
		insert into t_answer(paperObj,userObj,answerFile,addTime,score,evaluate) values 
		(#{paperObj.paperId},#{userObj.user_name},#{answerFile},#{addTime},#{score},#{evaluate})
	</insert>

	<!-- 按照查询条件分页查询学员答案记录 -->
	<select id="queryAnswer" resultMap="answerMap" >
		select t_answer.* from t_answer,t_paper,t_userInfo ${where} and t_answer.paperObj = t_paper.paperId and t_answer.userObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="answerMap" type="answer">
        <id property="answerId" column="answerId" />
        <association property="paperObj" column="paperObj" select="com.chengxusheji.mapper.PaperMapper.getPaper" />
        <association property="userObj" column="userObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有学员答案记录 -->
	<select id="queryAnswerList" resultMap="answerMap" >
		select t_answer.* from t_answer,t_paper,t_userInfo ${where} and t_answer.paperObj = t_paper.paperId and t_answer.userObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的学员答案记录数 -->
	<select id="queryAnswerCount" resultType="int">
		select count(*) from t_answer,t_paper,t_userInfo ${where} and t_answer.paperObj = t_paper.paperId and t_answer.userObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个学员答案记录 -->
	<select id="getAnswer" parameterType="int" resultMap="answerMap">
		select * from t_answer where t_answer.answerId = #{answerId}
	</select>

	<!-- 更新学员答案记录 -->
	<update id="updateAnswer" parameterType="answer">
		update t_answer set paperObj=#{paperObj.paperId},userObj=#{userObj.user_name},answerFile=#{answerFile},addTime=#{addTime},score=#{score},evaluate=#{evaluate} where answerId = #{answerId}
	</update>

	<!-- 删除学员答案记录 -->
	<delete id="deleteAnswer" parameterType="int">
		delete from t_answer where answerId=#{answerId}
	</delete>

</mapper>
